
@{
    Layout = null;
    ViewBag.Title = "Error";
}

<html>
<head>
    <title>Ошибка</title>
    <style>
        td {
            vertical-align: top;
        }
    </style>
</head>
<body>
    <h1>Ошибка!</h1>
</body>
</html>

