
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Информация</title>
    <style>
        td {
            vertical-align: top;
        }
    </style>
</head>
<body>
    <div> 
        Информация: @ViewBag.Message
    </div>
</body>
</html>
