
@{
    ViewBag.Title = "Post";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Post</title>
</head>
<body>
    <div>
        Информация: @ViewBag.message
    </div>
</body>
</html>

