
@{
    Layout = null;
    ViewBag.Title = "Succes";
}

<html>
<head>
    <title>Успех</title>
    <style>
        td {
            vertical-align: top;
        }
    </style>
</head>
<body>
    <h2>Вы успешно авторизовались!</h2>
</body>
</html>

