<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
<form action="/blog/AddPost" method="post" th:object="${post}">
    <input style="display:none;" type="text" name="action" value="AddPost">

    <div class="form-group">
        <label for="AddPostTitle">Заголовок</label>
        <input type="text" name="title" th:field="*{title}" class="form-control" id="AddPostTitle" placeholder="Введите заголовок">
        <div th:if="${#fields.hasErrors('title')}" th:errors="*{title}" style="color: red;"></div>
    </div>
    <div class="form-group">
        <label for="AddPostAnons">Анонс</label>
        <input type="text" th:field="*{anons}" name="anons" class="form-control" id="AddPostAnons" placeholder="Введите анонс">
        <div th:if="${#fields.hasErrors('anons')}" th:errors="*{anons}" style="color: red;"></div>
    </div>
    <div class="form-group">
        <label for="AddPostText">Текст</label>
        <input type="text" th:field="*{text}" name="text" class="form-control" id="AddPostText" placeholder="Введите текст">
        <div th:if="${#fields.hasErrors('text')}" th:errors="*{text}" style="color: red;"></div>
    </div>
    <div th:if="${#fields.hasErrors('global')}">
        <small th:each="err : ${#fields.errors('global')}" th:text="${err}" style="color: red;"></small>
    </div>
    <button type="submit" class="btn btn-primary">Добавить статью</button>
</form>
</body>
</html>