@{
    ViewBag.Title = "Home Page";
}

<h2>Home controller</h2>


<p>все как на слайдах
<p>
    все как на слайда
<p>
    все как на слайд
<p>
    все как на слай
<p>
    все как на сла
<p>
    все как на сл
<p>
    все как на с
<p>
    все как на
<p>
    все как н
<p>
    все как
<p>
    все ка
<p>
    все к
<p>
    все
<p>
    вс
<p>в
<p> веселый карантин
