

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1 style="text-align: center;">Авторизация</h1>
    <table border="0" style="text-align: center;">
        <tr>
            <form action="/Server/Register" method="get"><input type="submit" value="Регистрация" /></form>
            <form action="/Server/Logg" method="post"><input type="submit" value="Авторизация" /></form>
        </tr>
    </table>
</body>
</html>
