
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div style="        position: absolute;
        top: 50%;
        left: 33%;
        text-align: center;
        padding: 5px 0;
        height: 99px;
        width: 500px;
        background-color: orange;
">
        <p>Задание</p>
        <p>Повторить всё КАК НА <span style="color: #ffffff;">С</span><span style="color: #ff0000;">Л</span><span style="color: yellow;">А</span><span style="color: #00ffff;">Й</span><span style="color: #00ff00;">Д</span><span style="color: #800080;">А</span><span style="color: #008000;">Х</span>🙂</p>
    </div>
</body>
</html>
