@model Cart
@{
    ViewData["Title"] = "Корзина";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="single-product-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-2">


            </div>

            <div class="col-md-8">
                <div class="product-content-right">
                    <div class="woocommerce">
                        <form method="post" action="#">
                            <table cellspacing="0" class="shop_table cart">
                                <thead>
                                    <tr>
                                        <th class="product-remove">&nbsp;</th>
                                        <th class="product-thumbnail">&nbsp;</th>
                                        <th class="product-name">Продукт</th>
                                        <th class="product-price">Цена</th>
                                        <th class="product-quantity">Кол-во</th>
                                        <th class="product-subtotal">Всего</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.CartLines.Count == 0)
                                    {
                                        <p>Товаров в корзине нет</p>
                                        <a href="/Catalog">Назад к товарам</a>
                                    }
                                    else
                                    {
                                        @for (int i = 0; i < Model.CartLines.Count; i++)
                                        {
                                            <tr class="cart_item">
                                                <td class="product-remove">
                                                    <a title="Удалить" class="remove" href="/Cart/RemoveFromCart?Number=@i">×</a>
                                                </td>

                                                <td class="product-thumbnail">
                                                    <a href="#"><img width="145" height="145" alt="poster_1_up" class="shop_thumbnail" src="~/img/@Model.CartLines[i].PictureMain"></a>
                                                </td>

                                                <td class="product-name">
                                                    <a href="#">@Model.CartLines[i].Title</a>
                                                </td>

                                                <td class="product-price">
                                                    <span class="amount">@Model.CartLines[i].Price</span>
                                                </td>

                                                <td class="product-quantity">
                                                    <div class="quantity buttons_added">
                                                        <input type="button" class="minus" value="-">
                                                        <input type="number" size="4" class="input-text qty text" title="Qty" value="1" min="0" step="1">
                                                        <input type="button" class="plus" value="+">
                                                    </div>
                                                </td>

                                                <td class="product-subtotal">
                                                    <span class="amount">@Model.CartLines[i].Price</span>
                                                </td>
                                            </tr>
                                        }
                                    }
                                    <tr>
                                        <td class="actions" colspan="6">
                                            <input type="submit" value="К оформлению заказа" name="proceed" class="checkout-button button alt wc-forward">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>